// using node-style package resolution in a CSS file:
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

// testing for calendar
.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }

html, body {
    overscroll-behavior-x: none; // disable chrome two finger swipe
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
    margin: 10px;
}

.row-header {
    // width: 20%;
    width: 400px;
    float: left;
}

.row-contents {
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
    // &.hide-scrollbar {
    //     -webkit-overflow-scrolling: touch;
    //     -ms-overflow-style: none; /* IE10 remove scrollbar */
    //     scrollbar-width: none; /* Firefox remove scrollbar */
    // }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.cell {
    height: 30px; // TODO: this gets overwritten in the habit-level but not at the top level? need to restructure
    width: 50px;
    display: inline-block;
    float: left;
    flex: 0 0 auto;
}

.ctr-contents::-webkit-scrollbar {
    display: none;
}

.habit {
    height: 30px;
}

.habit-edit-mode {
    height: 300px;
}

.sheet-header {
    height: 75px;
}

.sheet-date-labels {
    height: 50px;
}

.sheet-retros {
    height: 50px;
}

.layout-header {
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid black;
    z-index: 10;
    background-color: white;
    overflow: hidden;
}

.layout-body {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    border: 2px solid red;
    overflow-y: auto;
    overflow-x: hidden;
    // TODO: make this work for other browsers
    // https://stackoverflow.com/questions/2434602/css-setting-width-height-as-percentage-minus-pixels
    height: calc(100% - 70px);
}

.retro {
    height: 200px;
}

.retro-top {
    height: 100px;
}

.retro-top-selected {
    font-weight: bold;
}

.retro-top-has-entry {
    color: blue;
}

.retro-bottom {
    height: 100px;
}

.habit-entry {
    width: 100%;
    height: 100%;
}
