// using node-style package resolution in a CSS file:
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ctr {
    margin: 10px;
}

.ctr-header {
    width: 20%;
    display: inline-block;
    float: left;   
}

.ctr-contents {
    height: 100px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE10 remove scrollbar */
    scrollbar-width: none; /* Firefox remove scrollbar */
}

.ctr-entry {
    height: 100px;
    width: 100px;
    display: inline-block;
    float: left;
    flex: 0 0 auto;
}

.ctr-contents::-webkit-scrollbar {
    display: none;
}

.habit {
    height: 100px;
}

.habit-edit-mode {
    height: 300px;
}

.header {
    height: 100px;
}

.header-date-label {
    height: 50%;
}

.header-retro {
    height: 50%;
}

.layout-header {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid black;
    z-index: 100;
    background-color: white;
    overflow: hidden;
}

.layout-body {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    border: 2px solid red;
    overflow: auto;
    height: calc(100% - 350px); // https://stackoverflow.com/questions/2434602/css-setting-width-height-as-percentage-minus-pixels
}

.layout-footer {
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 2px solid green;
    z-index: 100;
    background-color: white;
    overflow: hidden;
}

.retro {
    height: 200px;
}

.retro-top {
    height: 50px;
}

.retro-top-selected {
    font-weight: bold;
}

.retro-top-has-entry {
    color: blue;
}

.retro-bottom {
    height: 150px;
}

.habit-entry {
    width: 100%;
    height: 100%;

    &.neutral {
        background-color: $light-gray5;
    }

    &.positive {
        background-color: $forest5;
    }

    &.very-positive {
        background-color: $forest1;
    }

    &.negative {
        background-color: $vermilion5;
    }

    &.very-negative {
        background-color: $vermilion1;
    }
}
